@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
    font-family: Inter, sans-serif;
    user-select: none;
}

input[type=text], textarea {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

*:disabled {
    background-color: #f1f1f1;
}
